<div class="header">
    <div class="header-inner">
        <div class="left-side">
            <div class="menu-controll">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>
        <div class="middle-side">
            <div class="header-name-app">
                Zarządzanie rachunkami
            </div>
        </div>
        <div class="right-side">
            <div class="notifications-box">
                P
            </div>
            <div class="account-box">
                User
            </div>
        </div>
        
    </div>
</div>
