<div class="header">
    <div class="header-inner">
        <div class="left-side">
            <div class="menu-controll hover">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="middle-side">
            <div class="header-name-app">
                Zarządzanie rachunkami
            </div>
        </div>
        <div class="right-side">
            <a data-controller="notifications" href="/notifications" class="notifications-box hover">
                <i class="fa-solid fa-bell"></i>
            </a>
            <div class="account-box hover">
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </div>
        
    </div>
</div>
