<div class="left-side-container">
    <div class="left-side-inner">
        <div class="logo">
            <p>
                PayApp
            </p>
            <i class="fa-solid fa-money-bill-wave"></i>
        </div>
        {% include '/include/userContent.html.twig' %}
        {% include '/include/menu.html.twig' %}
    </div>
</div>