<div class="left-side-container">
    <div class="left-side-inner">
        <a href="/" class="logo hover">
            <p>
                PayApp
            </p>
            <i class="fa-solid fa-money-bill-wave"></i>
        </a>
        {% include '/include/userContent.html.twig' %}
        {% include '/include/menu.html.twig' %}
    </div>
</div>