<div class="menu-container absolute">
    <div class="menu-container-inner">
        <div class="menu-name">
            <p>
                Menu
            </p>
        </div>
        <div class="menu-blocks">
            <div class="menu-block-child">
                Płatności
            </div>
            <div class="menu-block-child">
                Znajomi
            </div>
            <div class="menu-block-child">
                Rozliczenia
            </div>
            <div class="menu-block-child">
                Ustawienia
            </div>
        </div>
    </div>
</div>