<div class="menu-container">
    <div class="menu-inner">
        <div class="menu-element">
            <i class="fa-solid fa-money-bill-wave pr-15"></i>
            <p class="menu-text">
                Płatność
            </p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="menu-element">
            <i class="fa-solid fa-user-group pr-15"></i>
            <p class="menu-text">
                Znajomi
            </p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="menu-element">
            <i class="fa-solid fa-gear pr-15"></i>
            <p class="menu-text">
                Tekst
            </p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
    </div>
</div>