<div class="menu-container" data-controller="menu">
    <div class="menu-inner">
        <div class="menu-element">
            <div class="menu-element-data">
                <i class="fa-solid fa-money-bill-wave pr-15"></i>
                <p class="menu-text">
                    Płatność
                </p>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu-element-child">
                <a href="/payment/add" class="element-child-1">
                    Dodaj płatność
                </a>
                <a href="/payments/made/list" class="element-child-1">
                    Lista wykonanych płatności
                </a>
                <a href="/payments/clearing/list" class="element-child-1">
                    Płatności do rozliczenia
                </a>
            </div>
            <div class="menu-element-js" data-action="click->menu#showHideList">
            </div>
        </div>
        <div class="menu-element">
            <div class="menu-element-data">
                <i class="fa-solid fa-user-group pr-15"></i>
                <p class="menu-text">
                    Znajomi
                </p>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu-element-js" data-action="click->menu#showHideList">
            </div>
        </div>
        <div class="menu-element">
            <div class="menu-element-data">
                <i class="fa-solid fa-gear pr-15"></i>
                <p class="menu-text">
                    Tekst
                </p>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu-element-js" data-action="click->menu#showHideList">
            </div>
        </div>
    </div>
</div>