<div class="menu-container">
    <div class="menu-inner">
        <div class="menu-element">
            <i class="fa-solid fa-money-bill-wave pr-15"></i>
            Płatność
        </div>
        <div class="menu-element">
            <i class="fa-solid fa-user-group pr-15"></i>
            Znajomi
        </div>
        <div class="menu-element">
            <i class="fa-solid fa-gear pr-15"></i>
            Ustawienia
        </div>
    </div>
</div>