<div class="menu-container absolute">
    <div class="menu-container-inner">
        <div class="menu-name">
            <p>
                Menu
            </p>
        </div>
        <div class="menu-blocks">
            <div class="menu-block-child hover-gray">
                <i class="fa-solid fa-money-bill-wave pr-10"></i>
                <a href="/payments">
                    Płatność
                </a>
            </div>
            <div class="menu-block-child hover-gray">
                <i class="fa-solid fa-user-group pr-10"></i>
                <a href="/friends">
                    Znajomi
                </a>
            </div>
            <div class="menu-block-child hover-gray">
                <i class="fa-solid fa-receipt pr-10"></i>
                <a href="/billings">
                    Rozliczenia
                </a>
            </div>
            <div class="menu-block-child hover-gray">
                <i class="fa-solid fa-gear pr-10"></i>
                <a href="/settings">
                    Ustawienia
                </a>
            </div>
        </div>
    </div>
</div>