<div class="right-side-container">
    <div class="right-side-inner">
        <div class="top-side">
            <div class="top-title">
                Nazwa strony
            </div>
            <div class="top-buttons-side">
                Przyciski
            </div>
        </div>
        <div class="side-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>