<div class="user-container">
    <div class="user-inner">
        <div class="user-image">
            <i class="fa-regular fa-circle-user"></i>
        </div>
        <div class="user-info">
            <span class="user-name">
                Kamil Jakubowicz
            </span>
            <span class="user-email">
                kjakubowicz98@interia.pl
            </span>
        </div>
    </div>
</div>