<div class="user-container">
    <div class="user-inner">
        <div class="user-image">
            <i class="fa-regular fa-circle-user"></i>
            <a data-controller="notifications" href="/notifications" class="notifications-box hover">
            </a>
        </div>
        <div class="user-info">
            <span class="user-name" id="user-name">
            </span>
            <span class="user-email" id="user-email">
            </span>
        </div>
    </div>
</div>