*,
html {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    padding: 0;
    font-family: system-ui;
}
.form-basic-container {
    max-width: 70%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 17px -9px rgb(66 68 90);
    -moz-box-shadow: 0px 0px 17px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 17px -9px rgb(66 68 90);
}
.form-basic-inner {
    padding: 20px;
}
.submit-button {
    padding: 14px;
    border-radius: 9px;
    border: 0;
    background: #68b5cf;
    color: white;
    font-size: 18px;
    width: 100%;
}
.form-basic-inner form {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.input-checkbox {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}
.select-box {
    display: flex;
    height: 35px;
    align-items: center;
}
.select-box label {
    padding-right: 20px;
}
.select-box select {
    width: 300px;
    height: 30px;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
}
.submit-box {
    padding-top: 20px;
    width: 200px;
}
.hover:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s all ease;
}
.hover-gray:hover {
    background: #2828251c;
    cursor: pointer;
    transition: 0.2s all ease;
}
.red-label {
    color: red;
}
.green-label {
    color: green;
}
a {
    text-decoration: none;
    color: black;
}
.pr-10 {
    padding-right: 10px;
}
.p-10 {
    padding: 10px;
}
.relative {
    position: relative;
}
.active {
    font-weight: bold;
}
.absolute {
    position: absolute;
}
.header {
    height: 60px;
    box-shadow: 1px -9px 24px 3px rgb(0 0 0 / 39%);
}
.header-inner {
    display: flex;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.left-side {
    font-size: 18px;
    display: flex;
    width: 5%;
    justify-content: center;
}
.right-side {
    font-size: 24px;
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}
.middle-side {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-container {
    min-height: calc(100vh - 80px);
}
.content {
    margin-left: 250px;
}
.content-inner {
    -webkit-box-shadow: 0px -1px 39px -22px rgb(66 68 90);
    -moz-box-shadow: 0px -1px 39px -22px rgba(66, 68, 90, 1);
    box-shadow: 0px -1px 39px -22px rgb(66 68 90);
    margin: 20px;
    margin-top: 0px;
    min-height: calc(100vh - 130px);
}
/* BREADCRUMBS */
.breadcrumbs-container {
    height: 50px;
}
.breadcrumbs-inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
}
.breadcrumbs-child {
    padding-right: 25px;
    display: flex;
    align-items: center;
}
.breadcrumbs-child:last-child {
    padding-right: 0px;
}
.breadcrumbs-child i {
    font-size: 12px;
    padding-left: 25px;
}
/* MENU */
.menu-container {
    width: 250px;
    height: calc(100vh - 60px);
}
.menu-container-inner {
    height: 100%;
    box-shadow: 11px 0px 24px -4px rgb(31 31 31 / 69%);
    -webkit-box-shadow: 7px 0px 10px 0px rgb(31 31 31 / 8%);
    -moz-box-shadow: 11px 0px 24px -4px rgba(31, 31, 31, 0.69);
}
.menu-container-inner {
    color: #0000008c;
    font-size: 18px;
    font-weight: 500;
}
.menu-block-child {
    padding: 10px;
    display: flex;
    align-items: center;
}
.menu-block-child i {
    width: 30px;
}
.menu-name {
    -webkit-box-shadow: inset 0px -16px 46px -44px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px -16px 46px -44px rgba(66, 68, 90, 1);
    box-shadow: inset 0px -16px 46px -44px rgba(66, 68, 90, 1);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-container a {
    color: #0000008c;
}
/* LOGIN PANEL */
.panel-layout-gradient {
    height: 100%;
    background: rgb(85, 56, 84);
    background: linear-gradient(
        90deg,
        rgba(85, 56, 84, 1) 0%,
        rgba(111, 51, 157, 1) 14%,
        rgba(143, 65, 159, 1) 44%,
        rgba(100, 193, 212, 1) 79%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-content: center;
}
.panel-content {
    margin: auto;
    padding: 20px;
    min-height: 300px;
    width: 400px;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 46px -3px rgb(66 68 90);
    -moz-box-shadow: 0px 0px 46px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 46px -3px rgb(255 255 255);
}
.panel-content .title-label {
    font-size: 30px;
}
.panel-content .input-area {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
}
.panel-content .input-box {
    padding-bottom: 20px;
}
.panel-content .submit-box {
    padding-top: 20px;
}
.panel-content a {
    font-size: 18px;
}
.panel-content .alert-box {
    font-size: 16px;
    display: flex;
    color: #f10808;
    width: 100%;
    justify-content: flex-end;
}
.panel-content .panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.panel-content .panel-title .title {
    font-size: 32px;
}
.panel-content .checkbox-content {
    font-size: 20px;
    display: flex;
    align-items: center;
}
/* LISTVIEW */
.list-view-content {
    height: 800px;
}
.list-view-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-buttons-content {
    height: 55px;
    width: 100%;
}
.list-buttons-inner {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.list-add-button {
    font-size: 32px;
    color: #288df0;
}
.list-headers-content {
    height: 50px;
}
.list-headers-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.list-header-element-inner {
    display: flex;
    justify-content: center;
}
.list-headers-element .small {
    width: 50px;
}
.list-headers-element .basic {
    width: 150px;
}
.list-headers-element .large {
    width: 300px;
}
.list-rows-inner {
    display: flex;
    flex-direction: column;
}
.list-rows-element-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
.list-element-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-element-inner.number {
    width: 50px;
}
.list-element-inner.column {
    width: 150px;
}
.list-element-inner.column-xl {
    width: 300px;
}
.list-element-inner.options {
    width: 300px;
}
.list-element-inner.options-small {
    width: 50px;
    justify-content: space-around;
}
.list-element-inner.options-basic {
    width: 150px;
    justify-content: space-around;
}
.list-view-data {
    -webkit-box-shadow: 0px 0px 17px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 17px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 17px -9px rgba(66, 68, 90, 1);
}
.list-rows-element:nth-child(odd) {
    background-color: #f3f3f3;
}

/* NOTIFICATIONS */
.notifications-box {
    position: relative;
}
.notification-count {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: black;
    right: -9px;
    height: 16px;
    width: 16px;
    bottom: -8px;
    background-color: #ff6262;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
