{% extends 'base.html.twig' %}

{% block title %}Hello FriendsController!{% endblock %}

{% block content %}
            {{ form_start(form) }}
            {{ form_end(form) }}
            <a class="hover" href="/register">
                Zarejestruj się
            </a>
{% endblock %}
