{% extends 'base.html.twig' %}

{% block title %}Hello PaymentsController!{% endblock %}

{% block content %}
    <div class="form-basic-container">
        <div class="form-basic-inner">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
