{% if buttons %}
    {% for button in buttons %}
        <div class="list-buttons-element">
            <div class="list-buttons-element-inner">
                {% if button.type == 'add' %}
                    <a href="{{button.properties.href}}" class="list-add-button hover">
                        {% if button.properties.icon %}
                            <i class="{{button.properties.icon}}"></i>
                        {% else %}
                            <p>
                                {{button.properties.name}}
                            </p>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}