<div class="list-headers-content">
    <div class="list-headers-inner">
        {% if headers %}
            {% for header in headers %}
                 <div class="list-headers-element">
                    <div class="list-header-element-inner {{header.class}}">
                        {{header.text}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>