<div class="list-headers-content">
    <div class="list-headers-inner">
        <div class="list-headers-element">
            <div class="list-header-element-inner">
                LP.
            </div>
        </div>
        <div class="list-headers-element">
            <div class="list-header-element-inner">
                Imię
            </div>
        </div>
        <div class="list-headers-element">
            <div class="list-header-element-inner">
                Nazwisko
            </div>
        </div>
    </div>
</div>