{% extends 'base.html.twig' %}

{% block title %}Hello FriendsController!{% endblock %}

{% block content %}
<div class="right-side-container">
    <div class="right-side-inner">
        <div class="top-side">
            <div class="top-title">
                Nazwa strony
            </div>
            <div class="top-buttons-side">
                {% include '/listView/buttons.html.twig' with {'buttons' : listView.buttons} %}
            </div>
        </div>
        <div class="side-content">
            <div class="list-view-content">
                <div class="list-view-inner">
                    <div class="list-view-data">
                        {% include '/listView/header.html.twig' with {'headers' : listView.headers } %}
                        {% include '/listView/rows.html.twig' with {'rows' : listView.rows} %}
                        {% include '/listView/paggination.html.twig' with {'paggination' : listView.paggination, 'perPage' : listView.per_page} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {# <div class="list-view-content">
        <div class="list-view-inner">
            {% include '/listView/buttons.html.twig' with {'buttons' : listView.buttons} %}
            <div class="list-view-data">
                {% include '/listView/header.html.twig' with {'headers' : listView.headers } %}
                {% include '/listView/rows.html.twig' with {'rows' : listView.rows} %}
                {% include '/listView/paggination.html.twig' %}
            </div>
        </div>
    </div> #}
{% endblock %}
