{% for option in options %}
    <a href="{{option.href}}" class="list-option-{{option.type}} hover">
        {% if option.icon is defined%}
            <i class="{{option.icon}}"></i>
        {% elseif option.label is defined%}
            <p class="option-label hover">
                {{option.label}}
            </p>
        {% endif %}
    </a>
{% endfor %}