<div class="paggination-container">
    <div class="paggination-inner">
        <div class="paggination-pages">
            <div class="paggination-prev hover">
                <i class="fa-solid fa-caret-left"></i>
            </div>
            <div class="paggination-page-element hover">
                1
            </div>
            <div class="paggination-page-element hover">
                2
            </div>
            <div class="paggination-page-element hover">
                3
            </div>
            <div class="paggination-page-element hover">
                4
            </div>
            <div class="paggination-next hover">
                <i class="fa-solid fa-caret-right"></i>
            </div>
        </div>

        <div class="paggination-per-page">
            <span class="per-page-count hover">
                13
            </span>
            <div class="per-page-list">
                <a class="count-list-element hover" href="?per=5">
                    5
                </a>
                <a class="count-list-element hover" href="?per=10">
                    10
                </a>
                <a class="count-list-element hover" href="?per=20">
                    20
                </a>
                <a class="count-list-element hover" href="?per=30">
                    30
                </a>
            </div>
        </div>
    </div>
</div>