<div class="paggination-container">
    <div class="paggination-inner">
        <div class="paggination-pages">
            <div class="paggination-prev">
                PREV
            </div>
            <div class="paggination-page-element">
                1
            </div>
            <div class="paggination-page-element">
                2
            </div>
            <div class="paggination-page-element">
                3
            </div>
            <div class="paggination-page-element">
                4
            </div>
            <div class="paggination-next">
                next
            </div>
        </div>

        <div class="paggination-per-page">
            10
        </div>
    </div>
</div>