<div class="paggination-container">
    <div class="paggination-inner">
        <div class="left-side-paggination">
            select
        </div>
        <div class="right-side-paggination">
        1
        2
        3
        </div>
    </div>
</div>