<div class="list-rows-content">
    <div class="list-rows-inner">
        {% if rows %}
            {% for row in rows %}
                <div class="list-rows-element">
                    <div class="list-rows-element-inner">
                        {% for element in row %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>