<div class="list-rows-content">
    <div class="list-rows-inner">
        {% if rows %}
            {% for row in rows %}
                <div class="list-rows-element">
                    <div class="list-rows-element-inner">
                        {% for element in row %}
                        {% if element.type != 'data' %}
                            {% if  element.type == 'options' %}
                                <div class="list-element">
                                    <div class="list-element-inner {{element.class}}">
                                        {% include '/listView/options.html.twig' with {'options' : element.value } %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="list-element">
                                    <div class="list-element-inner {{element.type}}">
                                        {{element.value}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>