<div class="list-rows-content">
    <div class="list-rows-inner">
        {% if rows %}
            {% for row in rows %}
                <div class="list-rows-element">
                    <div class="list-rows-element-inner">
                        {% for element in row %}
                            {% if element.type != 'id' %}
                                <div class="list-element {{element.type}}">
                                    {{element.value}}
                                </div>
                                {% if loop.last == true %}
                                    <div class="list-element options">
                                        <a href="/friend/remove/{{id_friend}}" class="red-label hover">
                                            <i class="fa-regular fa-square-minus"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% set id_friend = element.value %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>