<div class="list-rows-content">
    <div class="list-rows-inner">
        <div class="list-rows-element">
            <div class="list-rows-element-inner">
                <p>
                    Dodaj
                </p>
            </div>
        </div>
        <div class="list-rows-element">
            <div class="list-rows-element-inner">
                <p>
                    Zaznacz wszystko
                </p>
            </div>
        </div>
    </div>
</div>